// 
// About
// 

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom,
        $black 0%,
        #{fade-out($black, 0.4)} 55%,
        #{#f9f9f9 } 100%);

    p {
        margin-bottom: 5rem;
    }

    .container {
        div {
            position: relative;
            z-index: 1;
        }
    }

    .img-fluid {
        &.img-about {
            height: auto;
            max-width: 125%;
            // transform: rotate(125deg);
            margin-top: -15%;
            margin-left: -15%;
            position: relative;
            z-index: 0;
        }
        &.img-about-one {
            height: auto;
            max-width: 50%;
            // transform: rotate(45deg);
            // margin-top: -45%;
            // margin-left: -50%;
            position: relative;
            z-index: 0;
        }
    }

    .text-white-80 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.8) !important;
}
}